.Rproj.user
.Rhistory
.RData
.Ruserdata
Organic-vs.-Conventional-Impacts-FINAL-01.png
README.html
Rplot.png
Rplots.pdf
SaveFotoAffiche.png
TFB_LEPECHEURG.pdf
Weltje et al. (2015) DPER Chapt 21.pdf
rsconnect
Meta-Analysis with R by Guido Schwarzer, James R. Carpenter, Gerta Rücker (auth.) (z-lib.org).pdf
41558_2016_Article_BFnclimate2943_Fig2_HTML.webp
